<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  height: 100vh;
  
  justify-content: center;
  align-items: center;
  background: #f2f3f7;
}

.img-slider{
  position: relative;
  width: 625px; 
  
  height: 550px;
  margin: auto;
  background: #1D212B;
  margin-left:auto;
  /* display: block; */
}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img{
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider .slide .info{
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide .info h2{
  color: rgb(250, 245, 245);
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.img-slider .slide .info p{
  color: rgb(185, 100, 100);
  background: rgba(235, 229, 229, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn{
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active{
  background: #2696E9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px){
  .img-slider{
    width: 600px;
    height: 375px;
  }

  .img-slider .slide .info{
    padding: 10px 25px;
  }

  .img-slider .slide .info h2{
    font-size: 35px;
  }

  .img-slider .slide .info p{
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation{
    bottom: 25px;
  }

  .img-slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px){
  .img-slider{
    width: 400px;
    
    height: 250px;
  }

  .img-slider .slide .info{
    padding: 10px 20px;
  }

  .img-slider .slide .info h2{
    font-size: 30px;
  }

  .img-slider .slide .info p{
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation{
    bottom: 15px;
  }

  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px){
  .img-slider{
    width: 320px;
   
    height: 200px;
  }

  .img-slider .slide .info{
    padding: 5px 10px;
  }

  .img-slider .slide .info h2{
    font-size: 25px;
  }

  .img-slider .slide .info p{
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation{
    bottom: 10px;
  }
}


        ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
}

li {
  float: left;
}
ul li ul{
  display: none;
}
ul li:hover ul{
  display: block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 0px;
}

li a:hover:not(.active) {
  background-color: #111;
  text-decoration: none;
  color:rgb(240, 206, 16);
}

.active {
  /*background-color:  #0d458f;*/
  text-decoration: none;
}
ul li:hover ul:not(.active){
  background-color: #111;
  text-decoration: none;
  color:rgb(240, 206, 16);
}
a:hover{
  /*background-color: #669900;*/
}
ul li ul li{
  float: none;
}
ul li a:link, a:visited{
  text-decoration:none;
  color: white;
 
  
}
                         
    </style>






</head>


<body style="background-color: rgb(219, 229, 230); ">

{{>header}}

 
    
 <div class="img-slider" style="margin-top:95px;  box-shadow: 10px 10px 10px 2px gray;">
      <div class="slide active">
        <img src="https://www.joonsquare.com/usermanage/image/business/walchand-college-of-engineering-sangli-13934/walchand-college-of-engineering-sangli-walchand-college-002.jpg" alt="" width="800px" height="550px">
        <div class="info">
     
        </div>
      </div>
      <div class="slide">
        <img src="https://media-exp1.licdn.com/dms/image/C511BAQHm6JYIoa0ODQ/company-background_10000/0/1519801446497?e=2159024400&v=beta&t=ZrrB_bQIVM8cieF1S813X8xNPsoB72zKlMjmL-6fG8w" alt="" width="800px" height="550px">
        <div class="info">
         
        </div>
      </div>

      <div class="slide">
        <img src="https://images.shiksha.com/mediadata/images/1544424396phpFjyBGP.png" alt=""  width="800px" height="550px">
        <div class="info">
          
        </div>
      </div>

      <div class="slide">
        <img src="https://images.shiksha.com/mediadata/images/1544423696phpuofRbi.png" alt="" width="800px" height="550px">
        <div class="info">
          
        </div>
      </div>
      
      <div class="slide">
          <img src="https://images.shiksha.com/mediadata/images/1544423663phpapZOOT.png" alt="" width="800px" height="550px">
               <div class="info">
          
        </div>
      </div>
      <div class="navigation">
        <div class="btn active"></div>
        <div class="btn"></div>
        <div class="btn"></div>
        <div class="btn"></div>
        <div class="btn"></div>
      </div>
    </div>

    <script type="text/javascript">
    var slides = document.querySelectorAll('.slide');
    var btns = document.querySelectorAll('.btn');
    let currentSlide = 1;

    // Javascript for image slider manual navigation
    var manualNav = function(manual){
      slides.forEach((slide) => {
        slide.classList.remove('active');

        btns.forEach((btn) => {
          btn.classList.remove('active');
        });
      });

      slides[manual].classList.add('active');
      btns[manual].classList.add('active');
    }

    btns.forEach((btn, i) => {
      btn.addEventListener("click", () => {
        manualNav(i);
        currentSlide = i;
      });
    });

    // Javascript for image slider autoplay navigation
    var repeat = function(activeClass){
      let active = document.getElementsByClassName('active');
      let i = 1;

      var repeater = () => {
        setTimeout(function(){
          [...active].forEach((activeSlide) => {
            activeSlide.classList.remove('active');
          });

        slides[i].classList.add('active');
        btns[i].classList.add('active');
        i++;

        if(slides.length == i){
          i = 0;
        }
        if(i >= slides.length){
          return;
        }
        repeater();
      }, 10000);
      }
      repeater();
    }
    repeat();
    </script>

    
</body>

</html>